%h2 成為我們的一份子

= form_for :user, url: users_path do |f|

  - if @user.errors.any?
    - flash.each do |message_type, message|
      %div{:class => "alert alert-#{message_type}"}= message

  .form-group
    = f.label :name
    %br
    = f.text_field :name, class: 'form-control'


  .form-group
    = f.label :age
    %br
    = f.text_field :age, class: 'form-control'

  .form-group
    %label.control-label{:for => "region"} Region
    %br
      %select#region.form-control
        %option{:value => 1}台北
        %option{:value => 2} 台中
        %option{:value => 3} 北京
        %option{:value => 4} 上海
        %option{:value => 5} 香港
        %option{:value => 6}新加坡

  .form-group
    = f.label :password
    %br
    = f.password_field :password, class: 'form-control'

  .form-group
    = f.label :confirm_password
    %br
    = f.password_field :confirm_password, class: 'form-control'

  .form-group
    = f.submit :'註冊', class: 'btn btn-success'

= link_to '返回主頁', home_index_path
%br
= link_to '已經有帳號了嗎？登入吧', login_path
